<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyType.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87EC00AE1DE88D3D007C1F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EC00BF1DE88D3D007C1F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EC00CA1DE88D3D007C1F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
